---
layout: default
---
<div class="post">        
  <article>
    {% if page.profile -%}
    <div class="row">        
      <div class="profile col-6 col-sm-3 col-md-4">

          {% if page.profile.image %}
            <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
          {% endif %}

      </div>

      <div class="col-6 col-sm-9 col-md-8">          
        <h1 class="post-title" style="font-size:30px">
            {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}（董星浩）
        </h1>
        <p class="desc">{{ page.subtitle }}</p>               
      </div>                      
    </div>
    {%- endif %}

    <hr>

    <div class="clearfix">{{ content }}</div>

    <hr>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <hr>


    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <hr>


    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}
  </article>
</div>
